### 3개의 파일을 활용한 [실습]
- ratings.dat
- movies.dat
- users.dat

1) 각 파일을 pd.read_csv() 로 읽어들인다
- 헤더 및 구분자 확인요망

2) 데이터 확인 및 구조분석과 각 데이터 프레임에 헤더를 추가
- ratings.dat : userId / movieId / rating / timestamp
- movies.data : movieId / title / genres
- users.data  : userId / gender / age

3) 공통 컬럼을 이용한 데이터 병합

4) user 평점 갯수 순위 확인

5) 각 영화의 성별 평균 평점 (pivot 사용)

6) 평점이 220개 이상인 영화만 필터링 (groupby 사용)

7) 평점이 200개 이상인 영화들의 성별 평균 평점

8) 여성이 가장 좋아하는 영화 순위

9) 남녀간의 평균 평점 차이

10) 평점의 표준편차가 큰 영화

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [97]:
ratings_df = pd.read_csv('C:/Users/i/data/ratings.dat', sep='::', header=None)
movies_df = pd.read_csv('C:/Users/i/data/movies.dat', sep='::', header=None)
users_df = pd.read_csv('C:/Users/i/data/users.dat', sep='::', header=None)

C:\Users\i\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
C:\Users\i\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

C:\Users\i\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [98]:
del users_df[3]
del users_df[4]
# OR
users_df.drop([3,4], axis=1, inplace=True)

In [99]:
# 데이터 확인 및 구조분석과 각 데이터 프레임에 헤더를 추가 ratings.dat
# userId / movieId / rating / timestamp
ratings_df.columns = ['userId', 'movieId', 'rating', 'timestamp']
movies_df.columns = ['movieId', 'title', 'genres']
users_df.columns = ['userId', 'gender', 'age']

In [129]:
# 공통 컬럼을 이용한 데이터 병합
merge_df = pd.merge(ratings_df, movies_df, on = 'movieId', how='outer') 
merge_df = pd.merge(merge_df, users_df, on = 'userId', how='outer') 

#or
merge_df = pd.merge(pd.merge(ratings_df, users_df), movies_df)
merge_df.head()

,userId,movieId,rating,timestamp,gender,age,title,genres
0,1,1193,5,978300760,F,1,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,One Flew Over the Cuckoo's Nest (1975),Drama

In [119]:
# user 평점 갯수 순위 확인
ratings_df['userId'].value_counts() # .value_counts()는 범주형 value를 세어준다.

4169    2314
1680    1850
4277    1743
1941    1595
1181    1521
889     1518
3618    1344
2063    1323
1150    1302
1015    1286
5795    1277
4344    1271
1980    1260
2909    1258
1449    1243
4510    1240
424     1226
4227    1222
5831    1220
3391    1216
3841    1216
4508    1211
1088    1176
5367    1169
3808    1158
549     1152
1285    1144
3224    1115
3539    1078
4543    1050
        ...
5309      20
703       20
932       20
160       20
5027      20
2292      20
1664      20
5904      20
3633      20
4365      20
4628      20
5258      20
2530      20
5168      20
5380      20
3552      20
4749      20
2819      20
6038      20
5012      20
4244      20
5525      20
3222      20
250       20
665       20
761       20
1493      20
5533      20
2714      20
2696      20
Name: userId, Length: 6040, dtype: int64

In [133]:
# 평점이 200개 이상인 영화들의 성별 평균 평점
m_cnt = pd.DataFrame({ 'm_cnt' : merge_df['movieId'].value_counts()})
m_cnt.head()

      m_cnt
2858   3428
260    2991
1196   2990
1210   2883
480    2672

In [134]:
m_cnt = m_cnt.reset_index()
m_cnt.head()

   index  m_cnt
0   2858   3428
1    260   2991
2   1196   2990
3   1210   2883
4    480   2672

In [135]:
result_df = pd.merge(merge_df , m_cnt , on='movieId' , how="left")

KeyError: 'movieId'