In [2]:
from pyspark import SparkConf , SparkContext
from pyspark.sql import SQLContext

conf = SparkConf().setMaster('local').setAppName('sparkApp')
spark = SparkContext(conf=conf)

sqlCtx = SQLContext(spark)
sqlCtx

### Titanic ML

In [3]:
titanic = sqlCtx.read.csv('C:/Users/i/data/spark_titanic_train.csv',
                        header=True ,
                        inferSchema=True) # 인퍼스키마를 줘야 타입에 맞게 데이터가 로드된다
type( titanic )

pyspark.sql.dataframe.DataFrame

In [4]:
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [5]:
titanic.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [6]:
titanic.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [7]:
titanic.select(['Survived' , 'Pclass' , 'Embarked']).show()

+--------+------+--------+
|Survived|Pclass|Embarked|
+--------+------+--------+
|       0|     3|       S|
|       1|     1|       C|
|       1|     3|       S|
|       1|     1|       S|
|       0|     3|       S|
|       0|     3|       Q|
|       0|     1|       S|
|       0|     3|       S|
|       1|     3|       S|
|       1|     2|       C|
|       1|     3|       S|
|       1|     1|       S|
|       0|     3|       S|
|       0|     3|       S|
|       0|     3|       S|
|       1|     2|       S|
|       0|     3|       Q|
|       1|     2|       S|
|       0|     3|       S|
|       1|     3|       C|
+--------+------+--------+
only showing top 20 rows

In [8]:
titanic.groupBy('Sex','Survived').count().show()

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|  male|       0|  468|
|female|       1|  233|
|female|       0|   81|
|  male|       1|  109|
+------+--------+-----+

In [9]:
titanic.groupBy('Pclass', 'Survived').count().show()

+------+--------+-----+
|Pclass|Survived|count|
+------+--------+-----+
|     1|       0|   80|
|     3|       1|  119|
|     1|       1|  136|
|     2|       1|   87|
|     2|       0|   97|
|     3|       0|  372|
+------+--------+-----+

In [10]:
from pyspark.sql.functions import mean, col, split, regexp_extract, when, lit

In [11]:
from pyspark.sql.functions import mean,col,split, col, regexp_extract, when, lit
# This function use to print feature with null values and null count 
def null_value_count(df):
  null_columns_counts = []
  numRows = df.count()
  for k in df.columns:
    nullRows = df.where(col(k).isNull()).count() #k를 피처로 인식하도록 col(k) , spark 의 문법
    if(nullRows > 0):
      temp = k,nullRows
      null_columns_counts.append(temp)
  return(null_columns_counts)

In [12]:
null_list = null_value_count(titanic)

In [13]:
null_list

[('Age', 177), ('Cabin', 687), ('Embarked', 2)]

In [14]:
sqlCtx.createDataFrame(null_list , ['column' , 'cnt']).show()

+--------+---+
|  column|cnt|
+--------+---+
|     Age|177|
|   Cabin|687|
|Embarked|  2|
+--------+---+

In [15]:
# 나이 평균을 구한다면?
titanic.select(mean('Age')).show()

+-----------------+
|         avg(Age)|
+-----------------+
|29.69911764705882|
+-----------------+

In [16]:
titanic.select('Name').show()

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

In [17]:
type( col('Name') )
# regexp_extract(col('Name'))
titanic = titanic.withColumn('initial' , regexp_extract( col ('Name') , '([A-Za-z]+)' , 1) )

In [18]:
titanic.select(['PassengerId','initial']).show()

+-----------+-----------+
|PassengerId|    initial|
+-----------+-----------+
|          1|     Braund|
|          2|    Cumings|
|          3|  Heikkinen|
|          4|   Futrelle|
|          5|      Allen|
|          6|      Moran|
|          7|   McCarthy|
|          8|    Palsson|
|          9|    Johnson|
|         10|     Nasser|
|         11|  Sandstrom|
|         12|    Bonnell|
|         13|Saundercock|
|         14|  Andersson|
|         15|    Vestrom|
|         16|    Hewlett|
|         17|       Rice|
|         18|   Williams|
|         19|     Vander|
|         20| Masselmani|
+-----------+-----------+
only showing top 20 rows

In [19]:
titanic.select('initial').distinct().show()

+-------------+
|      initial|
+-------------+
|     Pavlovic|
|         Saad|
|      Palsson|
| Thorneycroft|
|   Johannesen|
|     Meanwell|
|      Markoff|
|       Porter|
|     Harrison|
|     Bissette|
|        Hampe|
|      Hegarty|
|Lemberopolous|
|      Ekstrom|
|       Boulos|
|       Bourke|
|     McGovern|
|     Kvillner|
|   Goldenberg|
|        Keefe|
+-------------+
only showing top 20 rows

In [20]:
titanic = titanic.replace(['Don'] , ['Other'])

In [21]:
titanic.select('initial').distinct().show()

+-------------+
|      initial|
+-------------+
|     Pavlovic|
|         Saad|
|      Palsson|
| Thorneycroft|
|   Johannesen|
|     Meanwell|
|      Markoff|
|       Porter|
|     Harrison|
|     Bissette|
|        Hampe|
|      Hegarty|
|Lemberopolous|
|      Ekstrom|
|       Boulos|
|       Bourke|
|     McGovern|
|     Kvillner|
|   Goldenberg|
|        Keefe|
+-------------+
only showing top 20 rows

In [22]:
titanic.groupby('initial').avg('age').show()

+-------------+--------+
|      initial|avg(age)|
+-------------+--------+
|     Pavlovic|    32.0|
|         Saad|    25.0|
|      Palsson|    10.5|
| Thorneycroft|    null|
|   Johannesen|    null|
|     Meanwell|    null|
|      Markoff|    35.0|
|       Porter|    47.0|
|     Harrison|    40.0|
|     Bissette|    35.0|
|        Hampe|    20.0|
|      Hegarty|    18.0|
|Lemberopolous|    34.5|
|      Ekstrom|    45.0|
|       Boulos|     9.0|
|       Bourke|    36.0|
|     McGovern|    null|
|     Kvillner|    31.0|
|   Goldenberg|    49.0|
|        Keefe|    null|
+-------------+--------+
only showing top 20 rows

In [23]:
titanic = titanic.replace(['Mlle','Mme', 'Ms', 'Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],
               ['Miss','Miss','Miss','Mr','Mr',  'Mrs',  'Mrs',  'Other',  'Other','Other','Mr','Mr','Mr'])

In [24]:
titanic.groupby('initial').avg('age').show()

+-------------+--------+
|      initial|avg(age)|
+-------------+--------+
|     Pavlovic|    32.0|
|         Saad|    25.0|
|      Palsson|    10.5|
| Thorneycroft|    null|
|   Johannesen|    null|
|     Meanwell|    null|
|      Markoff|    35.0|
|       Porter|    47.0|
|     Harrison|    40.0|
|     Bissette|    35.0|
|        Hampe|    20.0|
|      Hegarty|    18.0|
|Lemberopolous|    34.5|
|      Ekstrom|    45.0|
|       Boulos|     9.0|
|       Bourke|    36.0|
|     McGovern|    null|
|     Kvillner|    31.0|
|   Goldenberg|    49.0|
|        Keefe|    null|
+-------------+--------+
only showing top 20 rows

In [25]:
titanic.groupby('initial').avg('age').collect()

[Row(initial='Pavlovic', avg(age)=32.0),
 Row(initial='Saad', avg(age)=25.0),
 Row(initial='Palsson', avg(age)=10.5),
 Row(initial='Thorneycroft', avg(age)=None),
 Row(initial='Johannesen', avg(age)=None),
 Row(initial='Meanwell', avg(age)=None),
 Row(initial='Markoff', avg(age)=35.0),
 Row(initial='Porter', avg(age)=47.0),
 Row(initial='Harrison', avg(age)=40.0),
 Row(initial='Bissette', avg(age)=35.0),
 Row(initial='Hampe', avg(age)=20.0),
 Row(initial='Hegarty', avg(age)=18.0),
 Row(initial='Lemberopolous', avg(age)=34.5),
 Row(initial='Ekstrom', avg(age)=45.0),
 Row(initial='Boulos', avg(age)=9.0),
 Row(initial='Bourke', avg(age)=36.0),
 Row(initial='McGovern', avg(age)=None),
 Row(initial='Kvillner', avg(age)=31.0),
 Row(initial='Goldenberg', avg(age)=49.0),
 Row(initial='Keefe', avg(age)=None),
 Row(initial='Leader', avg(age)=49.0),
 Row(initial='Kraeff', avg(age)=None),
 Row(initial='van', avg(age)=40.5),
 Row(initial='Cairns', avg(age)=None),
 Row(initial='Horgan', avg(age)=None),
 Row(initial='Bowerman', avg(age)=22.0),
 Row(initial='Watt', avg(age)=40.0),
 Row(initial='Newell', avg(age)=37.333333333333336),
 Row(initial='Graham', avg(age)=38.333333333333336),
 Row(initial='Cann', avg(age)=21.0),
 Row(initial='Compton', avg(age)=39.0),
 Row(initial='Goldsmith', avg(age)=24.333333333333332),
 Row(initial='Flynn', avg(age)=36.0),
 Row(initial='Celotti', avg(age)=24.0),
 Row(initial='Silverthorne', avg(age)=35.0),
 Row(initial='Potter', avg(age)=56.0),
 Row(initial='Healy', avg(age)=None),
 Row(initial='Francatelli', avg(age)=30.0),
 Row(initial='Dimic', avg(age)=42.0),
 Row(initial='Robbins', avg(age)=None),
 Row(initial='Tomlin', avg(age)=30.5),
 Row(initial='Goldschmidt', avg(age)=71.0),
 Row(initial='Cacic', avg(age)=34.0),
 Row(initial='Madigan', avg(age)=None),
 Row(initial='Taussig', avg(age)=36.333333333333336),
 Row(initial='Jonkoff', avg(age)=23.0),
 Row(initial='Sunderland', avg(age)=16.0),
 Row(initial='Lang', avg(age)=26.0),
 Row(initial='Lines', avg(age)=16.0),
 Row(initial='McDermott', avg(age)=None),
 Row(initial='del', avg(age)=29.0),
 Row(initial='Vestrom', avg(age)=14.0),
 Row(initial='Gee', avg(age)=47.0),
 Row(initial='Stahelin', avg(age)=32.0),
 Row(initial='Davis', avg(age)=28.0),
 Row(initial='Mitkoff', avg(age)=None),
 Row(initial='Ponesell', avg(age)=34.0),
 Row(initial='Shutes', avg(age)=40.0),
 Row(initial='Ibrahim', avg(age)=30.0),
 Row(initial='Andreasson', avg(age)=20.0),
 Row(initial='Farrell', avg(age)=40.5),
 Row(initial='Shelley', avg(age)=25.0),
 Row(initial='Andersson', avg(age)=17.11111111111111),
 Row(initial='Odahl', avg(age)=23.0),
 Row(initial='Doharr', avg(age)=None),
 Row(initial='Berglund', avg(age)=22.0),
 Row(initial='Partner', avg(age)=45.5),
 Row(initial='Hansen', avg(age)=29.333333333333332),
 Row(initial='Levy', avg(age)=36.0),
 Row(initial='Cunningham', avg(age)=None),
 Row(initial='Marechal', avg(age)=None),
 Row(initial='Markun', avg(age)=33.0),
 Row(initial='Phillips', avg(age)=19.0),
 Row(initial='Barah', avg(age)=20.0),
 Row(initial='Spencer', avg(age)=None),
 Row(initial='Weisz', avg(age)=29.0),
 Row(initial='LeRoy', avg(age)=30.0),
 Row(initial='Downton', avg(age)=54.0),
 Row(initial='Hocking', avg(age)=38.5),
 Row(initial='Eitemiller', avg(age)=23.0),
 Row(initial='Carlsson', avg(age)=30.5),
 Row(initial='Turkula', avg(age)=63.0),
 Row(initial='Toufik', avg(age)=None),
 Row(initial='Knight', avg(age)=None),
 Row(initial='Hogeboom', avg(age)=51.0),
 Row(initial='Pettersson', avg(age)=18.0),
 Row(initial='Dahlberg', avg(age)=22.0),
 Row(initial='Moran', avg(age)=None),
 Row(initial='Hold', avg(age)=44.0),
 Row(initial='Rintamaki', avg(age)=35.0),
 Row(initial='Madill', avg(age)=15.0),
 Row(initial='Stranden', avg(age)=31.0),
 Row(initial='Wiklund', avg(age)=18.0),
 Row(initial='Campbell', avg(age)=None),
 Row(initial='Mannion', avg(age)=None),
 Row(initial='Nirva', avg(age)=41.0),
 Row(initial='Najib', avg(age)=15.0),
 Row(initial='Williams', avg(age)=39.75),
 Row(initial='Todoroff', avg(age)=None),
 Row(initial='Peduzzi', avg(age)=None),
 Row(initial='Klasen', avg(age)=18.0),
 Row(initial='Jerwan', avg(age)=23.0),
 Row(initial='Christy', avg(age)=25.0),
 Row(initial='Smith', avg(age)=48.0),
 Row(initial='Alhomaki', avg(age)=20.0),
 Row(initial='Mayne', avg(age)=24.0),
 Row(initial='Emanuel', avg(age)=5.0),
 Row(initial='Chip', avg(age)=32.0),
 Row(initial='Mellinger', avg(age)=27.0),
 Row(initial='Silven', avg(age)=18.0),
 Row(initial='Stanley', avg(age)=22.0),
 Row(initial='Hedman', avg(age)=27.0),
 Row(initial='Allen', avg(age)=32.0),
 Row(initial='Youseff', avg(age)=45.5),
 Row(initial='Harder', avg(age)=25.0),
 Row(initial='Lehmann', avg(age)=17.0),
 Row(initial='Lester', avg(age)=39.0),
 Row(initial='Moussa', avg(age)=None),
 Row(initial='Mineff', avg(age)=24.0),
 Row(initial='Ryerson', avg(age)=19.5),
 Row(initial='Sdycoff', avg(age)=None),
 Row(initial='Drew', avg(age)=34.0),
 Row(initial='Baclini', avg(age)=7.625),
 Row(initial='Jonsson', avg(age)=32.0),
 Row(initial='Leinonen', avg(age)=32.0),
 Row(initial='Eklund', avg(age)=16.0),
 Row(initial='McCormack', avg(age)=None),
 Row(initial='Salkjelsvik', avg(age)=21.0),
 Row(initial='Samaan', avg(age)=None),
 Row(initial='Crease', avg(age)=19.0),
 Row(initial='Mionoff', avg(age)=28.0),
 Row(initial='Davidson', avg(age)=31.0),
 Row(initial='Lindahl', avg(age)=25.0),
 Row(initial='Gronnestad', avg(age)=32.0),
 Row(initial='Kiernan', avg(age)=None),
 Row(initial='Connors', avg(age)=70.5),
 Row(initial='Hale', avg(age)=30.0),
 Row(initial='Murphy', avg(age)=None),
 Row(initial='Nilsson', avg(age)=26.0),
 Row(initial='Karaic', avg(age)=30.0),
 Row(initial='Hewlett', avg(age)=55.0),
 Row(initial='Jussila', avg(age)=24.333333333333332),
 Row(initial='Lahoud', avg(age)=None),
 Row(initial='Bengtsson', avg(age)=26.0),
 Row(initial='Hoyt', avg(age)=36.5),
 Row(initial='Haas', avg(age)=24.0),
 Row(initial='Caram', avg(age)=None),
 Row(initial='Paulner', avg(age)=None),
 Row(initial='Woolner', avg(age)=None),
 Row(initial='Wright', avg(age)=62.0),
 Row(initial='Chambers', avg(age)=30.0),
 Row(initial='Wells', avg(age)=4.0),
 Row(initial='Walker', avg(age)=47.0),
 Row(initial='Cor', avg(age)=19.0),
 Row(initial='Sinkkonen', avg(age)=30.0),
 Row(initial='Sage', avg(age)=None),
 Row(initial='Laitinen', avg(age)=37.0),
 Row(initial='Homer', avg(age)=35.0),
 Row(initial='Mamee', avg(age)=None),
 Row(initial='Strandberg', avg(age)=22.0),
 Row(initial='Banfield', avg(age)=28.0),
 Row(initial='Sheerlinck', avg(age)=29.0),
 Row(initial='Elsbury', avg(age)=47.0),
 Row(initial='Becker', avg(age)=2.5),
 Row(initial='Ilett', avg(age)=17.0),
 Row(initial='Cook', avg(age)=43.0),
 Row(initial='Nye', avg(age)=29.0),
 Row(initial='Richards', avg(age)=9.276666666666666),
 Row(initial='Norman', avg(age)=28.0),
 Row(initial='Braund', avg(age)=25.5),
 Row(initial='Dean', avg(age)=13.5),
 Row(initial='Leyson', avg(age)=24.0),
 Row(initial='Vanden', avg(age)=28.0),
 Row(initial='Pickard', avg(age)=32.0),
 Row(initial='Reynaldo', avg(age)=28.0),
 Row(initial='Endres', avg(age)=38.0),
 Row(initial='Nicola', avg(age)=13.0),
 Row(initial='McMahon', avg(age)=None),
 Row(initial='Pinsky', avg(age)=32.0),
 Row(initial='Kelly', avg(age)=44.5),
 Row(initial='Hakkarainen', avg(age)=26.0),
 Row(initial='Risien', avg(age)=None),
 Row(initial='Beesley', avg(age)=34.0),
 Row(initial='Devaney', avg(age)=19.0),
 Row(initial='Quick', avg(age)=17.5),
 Row(initial='Thayer', avg(age)=35.0),
 Row(initial='Radeff', avg(age)=None),
 Row(initial='Windelov', avg(age)=21.0),
 Row(initial='Foo', avg(age)=None),
 Row(initial='Cumings', avg(age)=38.0),
 Row(initial='Givard', avg(age)=30.0),
 Row(initial='Keane', avg(age)=None),
 Row(initial='Svensson', avg(age)=49.0),
 Row(initial='Sobey', avg(age)=25.0),
 Row(initial='Ling', avg(age)=28.0),
 Row(initial='Abelson', avg(age)=29.0),
 Row(initial='Plotcharsky', avg(age)=None),
 Row(initial='Oreskovic', avg(age)=20.0),
 Row(initial='Chaffee', avg(age)=46.0),
 Row(initial='Fleming', avg(age)=None),
 Row(initial='Garside', avg(age)=34.0),
 Row(initial='Kenyon', avg(age)=None),
 Row(initial='Hamalainen', avg(age)=12.335),
 Row(initial='Novel', avg(age)=28.5),
 Row(initial='Jermyn', avg(age)=None),
 Row(initial='Ohman', avg(age)=22.0),
 Row(initial='Holm', avg(age)=43.0),
 Row(initial='Coutts', avg(age)=6.0),
 Row(initial='Molson', avg(age)=55.0),
 Row(initial='Artagaveytia', avg(age)=71.0),
 Row(initial='Brocklebank', avg(age)=35.0),
 Row(initial='Mitchell', avg(age)=70.0),
 Row(initial='McNamee', avg(age)=24.0),
 Row(initial='Yrois', avg(age)=24.0),
 Row(initial='Leeni', avg(age)=22.0),
 Row(initial='Jarvis', avg(age)=47.0),
 Row(initial='Theobald', avg(age)=34.0),
 Row(initial='Johnston', avg(age)=None),
 Row(initial='Drazenoic', avg(age)=33.0),
 Row(initial='Osen', avg(age)=16.0),
 Row(initial='Bostandyeff', avg(age)=26.0),
 Row(initial='Olsson', avg(age)=29.5),
 Row(initial='Bjornstrom', avg(age)=28.0),
 Row(initial='Kilgannon', avg(age)=None),
 Row(initial='Harris', avg(age)=43.0),
 Row(initial='Waelens', avg(age)=22.0),
 Row(initial='Blank', avg(age)=40.0),
 Row(initial='Ringhini', avg(age)=22.0),
 Row(initial='Mangan', avg(age)=30.5),
 Row(initial='Otter', avg(age)=39.0),
 Row(initial='Lulic', avg(age)=27.0),
 Row(initial='Beckwith', avg(age)=42.0),
 Row(initial='Moraweck', avg(age)=54.0),
 Row(initial='Lievens', avg(age)=24.0),
 Row(initial='Razi', avg(age)=None),
 Row(initial='Nasser', avg(age)=23.25),
 Row(initial='Barbara', avg(age)=31.5),
 Row(initial='Moor', avg(age)=16.5),
 Row(initial='Meyer', avg(age)=33.5),
 Row(initial='Dowdell', avg(age)=30.0),
 Row(initial='Matthews', avg(age)=30.0),
 Row(initial='Turcin', avg(age)=36.0),
 Row(initial='Morrow', avg(age)=None),
 Row(initial='Sjoblom', avg(age)=18.0),
 Row(initial='Glynn', avg(age)=None),
 Row(initial='Strom', avg(age)=15.5),
 Row(initial='Naidenoff', avg(age)=22.0),
 Row(initial='Anderson', avg(age)=48.0),
 Row(initial='Collyer', avg(age)=23.333333333333332),
 Row(initial='Gheorgheff', avg(age)=None),
 Row(initial='Eustis', avg(age)=54.0),
 Row(initial='Fry', avg(age)=None),
 Row(initial='Bonnell', avg(age)=58.0),
 Row(initial='O', avg(age)=None),
 Row(initial='Bing', avg(age)=32.0),
 Row(initial='Caldwell', avg(age)=11.415),
 Row(initial='Petranec', avg(age)=28.0),
 Row(initial='Denkoff', avg(age)=None),
 Row(initial='Troutt', avg(age)=27.0),
 Row(initial='Warren', avg(age)=60.0),
 Row(initial='Ross', avg(age)=36.0),
 Row(initial='Kirkland', avg(age)=57.0),
 Row(initial='Dick', avg(age)=24.0),
 Row(initial='Goncalves', avg(age)=38.0),
 Row(initial='de', avg(age)=27.333333333333332),
 Row(initial='Milling', avg(age)=48.0),
 Row(initial='Zabour', avg(age)=14.5),
 Row(initial='Trout', avg(age)=28.0),
 Row(initial='Yousseff', avg(age)=None),
 Row(initial='Harrington', avg(age)=None),
 Row(initial='Yasbeck', avg(age)=21.0),
 Row(initial='Cohen', avg(age)=18.0),
 Row(initial='Charters', avg(age)=21.0),
 Row(initial='Laleff', avg(age)=None),
 Row(initial='Webber', avg(age)=32.5),
 Row(initial='Hunt', avg(age)=33.0),
 Row(initial='Foreman', avg(age)=30.0),
 Row(initial='Sandstrom', avg(age)=14.0),
 Row(initial='Ahlin', avg(age)=40.0),
 Row(initial='Maenpaa', avg(age)=22.0),
 Row(initial='Lindell', avg(age)=36.0),
 Row(initial='Andersen', avg(age)=19.0),
 Row(initial='Danbom', avg(age)=31.0),
 Row(initial='Jenkin', avg(age)=32.0),
 Row(initial='Backstrom', avg(age)=32.5),
 Row(initial='Rood', avg(age)=None),
 Row(initial='Perreault', avg(age)=30.0),
 Row(initial='McEvoy', avg(age)=None),
 Row(initial='Mack', avg(age)=57.0),
 Row(initial='Heikkinen', avg(age)=26.0),
 Row(initial='Asplund', avg(age)=13.75),
 Row(initial='Laroche', avg(age)=16.666666666666668),
 Row(initial='Clifford', avg(age)=None),
 Row(initial='Frost', avg(age)=None),
 Row(initial='Salonen', avg(age)=39.0),
 Row(initial='Hassab', avg(age)=27.0),
 Row(initial='Myhrman', avg(age)=18.0),
 Row(initial='Scanlan', avg(age)=None),
 Row(initial='Bowen', avg(age)=21.0),
 Row(initial='Coelho', avg(age)=20.0),
 Row(initial='Skoog', avg(age)=18.333333333333332),
 Row(initial='Abbott', avg(age)=25.5),
 Row(initial='Bradley', avg(age)=None),
 Row(initial='Sloper', avg(age)=28.0),
 Row(initial='Doling', avg(age)=26.0),
 Row(initial='Spedden', avg(age)=40.0),
 Row(initial='Masselmani', avg(age)=None),
 Row(initial='Uruchurtu', avg(age)=40.0),
 Row(initial='Mellors', avg(age)=19.0),
 Row(initial='Parkes', avg(age)=None),
 Row(initial='Swift', avg(age)=48.0),
 Row(initial='Sutehall', avg(age)=25.0),
 Row(initial='Smiljanic', avg(age)=None),
 Row(initial='Adams', avg(age)=26.0),
 Row(initial='Birkeland', avg(age)=21.0),
 Row(initial='Sawyer', avg(age)=24.5),
 Row(initial='Lennon', avg(age)=None),
 Row(initial='Stewart', avg(age)=None),
 Row(initial='Green', avg(age)=51.0),
 Row(initial='Slayter', avg(age)=30.0),
 Row(initial='Sagesser', avg(age)=24.0),
 Row(initial='Kantor', avg(age)=29.0),
 Row(initial='Carbines', avg(age)=19.0),
 Row(initial='Reed', avg(age)=None),
 Row(initial='Widener', avg(age)=27.0),
 Row(initial='Daly', avg(age)=40.0),
 Row(initial='Bazzani', avg(age)=32.0),
 Row(initial='Jardin', avg(age)=None),
 Row(initial='Ilmakangas', avg(age)=25.0),
 Row(initial='Staneff', avg(age)=None),
 Row(initial='Nysveen', avg(age)=61.0),
 Row(initial='Simonius', avg(age)=56.0),
 Row(initial='Gilnagh', avg(age)=16.0),
 Row(initial='Chibnall', avg(age)=None),
 Row(initial='Carr', avg(age)=16.0),
 Row(initial='Morley', avg(age)=36.5),
 Row(initial='Rogers', avg(age)=None),
 Row(initial='Leonard', avg(age)=36.0),
 Row(initial='Lindblom', avg(age)=45.0),
 Row(initial='Maioni', avg(age)=16.0),
 Row(initial='Astor', avg(age)=18.0),
 Row(initial='Lindqvist', avg(age)=20.0),
 Row(initial='Nicholson', avg(age)=64.0),
 Row(initial='Baxter', avg(age)=37.0),
 Row(initial='Toomey', avg(age)=50.0),
 Row(initial='Moen', avg(age)=25.0),
 Row(initial='Robins', avg(age)=47.0),
 Row(initial='McCoy', avg(age)=None),
 Row(initial='Hirvonen', avg(age)=2.0),
 Row(initial='Mudd', avg(age)=16.0),
 Row(initial='Thorne', avg(age)=None),
 Row(initial='Clarke', avg(age)=28.0),
 Row(initial='Brewe', avg(age)=None),
 Row(initial='Ridsdale', avg(age)=50.0),
 Row(initial='Sjostedt', avg(age)=59.0),
 Row(initial='Simmons', avg(age)=None),
 Row(initial='Karun', avg(age)=4.0),
 Row(initial='Petroff', avg(age)=19.0),
 Row(initial='Byles', avg(age)=42.0),
 Row(initial='Butt', avg(age)=45.0),
 Row(initial='Pernot', avg(age)=None),
 Row(initial='Young', avg(age)=36.0),
 Row(initial='Moutal', avg(age)=None),
 Row(initial='Andrews', avg(age)=51.0),
 Row(initial='Dantcheff', avg(age)=25.0),
 Row(initial='Lesurer', avg(age)=35.0),
 Row(initial='Sirota', avg(age)=None),
 Row(initial='Slocovski', avg(age)=None),
 Row(initial='McKane', avg(age)=46.0),
 Row(initial='Hagland', avg(age)=None),
 Row(initial='Gillespie', avg(age)=34.0),
 Row(initial='Ball', avg(age)=36.0),
 Row(initial='Sivic', avg(age)=40.0),
 Row(initial='Rothes', avg(age)=33.0),
 Row(initial='Gustafsson', avg(age)=26.0),
 Row(initial='Minahan', avg(age)=38.5),
 Row(initial='Frauenthal', avg(age)=50.0),
 Row(initial='Nakid', avg(age)=10.5),
 Row(initial='Angle', avg(age)=36.0),
 Row(initial='Stoytcheff', avg(age)=19.0),
 Row(initial='Soholt', avg(age)=19.0),
 Row(initial='Hawksford', avg(age)=None),
 Row(initial='Olsen', avg(age)=35.0),
 Row(initial='Barber', avg(age)=26.0),
 Row(initial='Jansson', avg(age)=21.0),
 Row(initial='Coleff', avg(age)=30.0),
 Row(initial='Kassem', avg(age)=None),
 Row(initial='Dooley', avg(age)=32.0),
 Row(initial='Panula', avg(age)=13.5),
 Row(initial='Larsson', avg(age)=29.0),
 Row(initial='Smart', avg(age)=56.0),
 Row(initial='Appleton', avg(age)=53.0),
 Row(initial='Alexander', avg(age)=26.0),
 Row(initial='Coxon', avg(age)=59.0),
 Row(initial='Rosblom', avg(age)=29.5),
 Row(initial='Kent', avg(age)=58.0),
 Row(initial='Gilinski', avg(age)=22.0),
 Row(initial='Wilhelms', avg(age)=31.0),
 Row(initial='Slemen', avg(age)=35.0),
 Row(initial='Faunthorpe', avg(age)=29.0),
 Row(initial='Christmann', avg(age)=29.0),
 Row(initial='Rekic', avg(age)=38.0),
 Row(initial='Vovk', avg(age)=22.0),
 Row(initial='Tobin', avg(age)=None),
 Row(initial='Aks', avg(age)=18.0),
 Row(initial='Barton', avg(age)=22.0),
 Row(initial='Madsen', avg(age)=24.0),
 Row(initial='Nenkoff', avg(age)=None),
 Row(initial='Louch', avg(age)=42.0),
 Row(initial='Weir', avg(age)=60.0),
 Row(initial='Klaber', avg(age)=None),
 Row(initial='Long', avg(age)=29.0),
 Row(initial='Abbing', avg(age)=42.0),
 Row(initial='Chronopoulos', avg(age)=26.0),
 Row(initial='Richard', avg(age)=23.0),
 Row(initial='Aubart', avg(age)=24.0),
 Row(initial='Stephenson', avg(age)=52.0),
 Row(initial='Badt', avg(age)=40.0),
 Row(initial='Serepeca', avg(age)=30.0),
 Row(initial='Hays', avg(age)=38.0),
 Row(initial='Lahtinen', avg(age)=26.0),
 Row(initial='Pasic', avg(age)=21.0),
 Row(initial='Hood', avg(age)=21.0),
 Row(initial='Andrew', avg(age)=18.0),
 Row(initial='Seward', avg(age)=34.0),
 Row(initial='Renouf', avg(age)=32.0),
 Row(initial='Taylor', avg(age)=48.0),
 Row(initial='Bryhl', avg(age)=25.0),
 Row(initial='Duane', avg(age)=65.0),
 Row(initial='Colley', avg(age)=47.0),
 Row(initial='Van', avg(age)=34.25),
 Row(initial='Coleridge', avg(age)=29.0),
 Row(initial='Gale', avg(age)=34.0),
 Row(initial='Berriman', avg(age)=23.0),
 Row(initial='Ivanoff', avg(age)=None),
 Row(initial='Turpin', avg(age)=28.0),
 Row(initial='Kallio', avg(age)=17.0),
 Row(initial='Millet', avg(age)=65.0),
 Row(initial='Icard', avg(age)=38.0),
 Row(initial='Torber', avg(age)=44.0),
 Row(initial='Calic', avg(age)=17.0),
 Row(initial='Lurette', avg(age)=58.0),
 Row(initial='Allison', avg(age)=9.306666666666667),
 Row(initial='Ostby', avg(age)=65.0),
 Row(initial='Edvardsson', avg(age)=18.0),
 Row(initial='Willey', avg(age)=None),
 Row(initial='Rice', avg(age)=12.0),
 Row(initial='Attalah', avg(age)=23.5),
 Row(initial='Giglio', avg(age)=24.0),
 Row(initial='Cribb', avg(age)=44.0),
 Row(initial='Duran', avg(age)=27.0),
 Row(initial='Sutton', avg(age)=61.0),
 Row(initial='Olsvigen', avg(age)=20.0),
 Row(initial='Behr', avg(age)=26.0),
 Row(initial='Fynney', avg(age)=35.0),
 Row(initial='Johansson', avg(age)=28.666666666666668),
 Row(initial='Betros', avg(age)=20.0),
 Row(initial='Isham', avg(age)=50.0),
 Row(initial='Ward', avg(age)=35.0),
 Row(initial='Zimmerman', avg(age)=29.0),
 Row(initial='Nankoff', avg(age)=None),
 Row(initial='Reeves', avg(age)=36.0),
 Row(initial='Penasco', avg(age)=17.5),
 Row(initial='Cherry', avg(age)=30.0),
 Row(initial='Meo', avg(age)=55.5),
 Row(initial='Sadlier', avg(age)=None),
 Row(initial='Rush', avg(age)=16.0),
 Row(initial='Humblen', avg(age)=42.0),
 Row(initial='Hodges', avg(age)=50.0),
 Row(initial='Montvila', avg(age)=27.0),
 Row(initial='Wheadon', avg(age)=66.0),
 Row(initial='White', avg(age)=37.5),
 Row(initial='Lefebre', avg(age)=None),
 Row(initial='Yousif', avg(age)=None),
 Row(initial='Lemore', avg(age)=34.0),
 Row(initial='Greenberg', avg(age)=52.0),
 Row(initial='Stone', avg(age)=62.0),
 Row(initial='Brown', avg(age)=42.0),
 Row(initial='Hanna', avg(age)=23.5),
 Row(initial='Davies', avg(age)=16.666666666666668),
 Row(initial='Padro', avg(age)=None),
 Row(initial='Watson', avg(age)=None),
 Row(initial='Greenfield', avg(age)=23.0),
 Row(initial='Beavan', avg(age)=19.0),
 Row(initial='Balkic', avg(age)=26.0),
 Row(initial='Johanson', avg(age)=34.0),
 Row(initial='Sundman', avg(age)=44.0),
 Row(initial='Daniel', avg(age)=27.0),
 Row(initial='Lam', avg(age)=None),
 Row(initial='Connolly', avg(age)=22.0),
 Row(initial='Peuchen', avg(age)=52.0),
 Row(initial='Rouse', avg(age)=50.0),
 Row(initial='Fischer', avg(age)=18.0),
 Row(initial='Hassan', avg(age)=11.0),
 Row(initial='Nicholls', avg(age)=19.0),
 Row(initial='Lewy', avg(age)=None),
 Row(initial='Mullens', avg(age)=None),
 Row(initial='Harknett', avg(age)=None),
 Row(initial='Rugg', avg(age)=21.0),
 Row(initial='Rommetvedt', avg(age)=None),

In [26]:
titanic.filter(titanic['Age'] == 48).select('initial').show()

+--------+
| initial|
+--------+
|Anderson|
| Milling|
|    Duff|
|  Harper|
|  Taylor|
|    Ford|
|  Herman|
|  Jensen|
|   Swift|
+--------+

In [27]:
# null 처리 방법
titanic.groupby('Embarked').count().show()
titanic = titanic.na.fill({'Embarked' : 'S'})

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|    null|    2|
|       C|  168|
|       S|  644|
+--------+-----+

In [28]:
titanic.groupby('Embarked').count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|       C|  168|
|       S|  646|
+--------+-----+

In [29]:
titanic = titanic.drop('Cabin')

In [30]:
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = false)
 |-- initial: string (nullable = true)

In [31]:
# 파생 컬럼 만드는 방법
titanic = titanic.withColumn('Family_Size' , col('SibSp')+col('Parch'))

In [32]:
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = false)
 |-- initial: string (nullable = true)
 |-- Family_Size: integer (nullable = true)

In [33]:
titanic.select('Family_Size').show()

+-----------+
|Family_Size|
+-----------+
|          1|
|          1|
|          0|
|          1|
|          0|
|          0|
|          0|
|          4|
|          2|
|          1|
|          2|
|          0|
|          0|
|          6|
|          0|
|          0|
|          5|
|          0|
|          1|
|          0|
+-----------+
only showing top 20 rows

In [34]:
titanic.groupby('Family_Size').count().show()

+-----------+-----+
|Family_Size|count|
+-----------+-----+
|          1|  161|
|          6|   12|
|          3|   29|
|          5|   22|
|          4|   15|
|          7|    6|
|         10|    7|
|          2|  102|
|          0|  537|
+-----------+-----+

In [35]:
titanic = titanic.withColumn('Alone' , lit(0))

In [36]:
titanic.select('Alone').show()

+-----+
|Alone|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
+-----+
only showing top 20 rows

In [37]:
# when ~ otherwise -> if ~ else 와 비슷한 함수
titanic = titanic.withColumn('Alone' , when(titanic['Family_Size'] == 0, 1).otherwise(titanic['Alone']))

In [38]:
titanic.select('Alone').show()

+-----+
|Alone|
+-----+
|    0|
|    0|
|    1|
|    0|
|    1|
|    1|
|    1|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    1|
|    1|
|    0|
|    1|
|    0|
|    1|
+-----+
only showing top 20 rows

In [39]:
titanic.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Embarked',
 'initial',
 'Family_Size',
 'Alone']

In [40]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

In [41]:
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(titanic) for column in ["Sex","Embarked","initial"]]
pipeline = Pipeline(stages=indexers)
titanic = pipeline.fit(titanic).transform(titanic)

In [42]:
titanic.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------+-----------+-----+---------+--------------+-------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|    initial|Family_Size|Alone|Sex_index|Embarked_index|initial_index|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------+-----------+-----+---------+--------------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|     Braund|          1|    0|      0.0|           0.0|         58.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|    Cumings|          1|    0|      1.0|           1.0|        406.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|  Heikkinen|          0|    1|      1.0|           0.0|        473.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|   Futrelle|          1|    0|      1.0|           0.0|         93.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      Allen|          0|    1|      0.0|           0.0|         94.0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       Q|      Moran|          0|    1|      0.0|           2.0|         48.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|   McCarthy|          0|    1|      0.0|           0.0|        620.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|    Palsson|          4|    0|      0.0|           0.0|         21.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|    Johnson|          2|    0|      1.0|           0.0|          4.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|     Nasser|          1|    0|      1.0|           1.0|        114.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|  Sandstrom|          2|    0|      1.0|           0.0|         75.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|    Bonnell|          0|    1|      1.0|           0.0|        171.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|Saundercock|          0|    1|      0.0|           0.0|        614.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|  Andersson|          6|    0|      0.0|           0.0|          0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|    Vestrom|          0|    1|      1.0|           0.0|        214.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|    Hewlett|          0|    1|      1.0|           0.0|        540.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|       Rice|          5|    0|      0.0|           2.0|          8.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|       S|   Williams|          0|    1|      0.0|           0.0|          9.0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|     Vander|          1|    0|      1.0|           0.0|         13.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       C| Masselmani|          0|    1|      1.0|           1.0|        158.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------+-----------+-----+---------+--------------+-------------+
only showing top 20 rows

In [43]:
titanic.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------+-----------+-----+---------+--------------+-------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|    initial|Family_Size|Alone|Sex_index|Embarked_index|initial_index|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------+-----------+-----+---------+--------------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|     Braund|          1|    0|      0.0|           0.0|         58.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|    Cumings|          1|    0|      1.0|           1.0|        406.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|  Heikkinen|          0|    1|      1.0|           0.0|        473.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|   Futrelle|          1|    0|      1.0|           0.0|         93.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      Allen|          0|    1|      0.0|           0.0|         94.0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       Q|      Moran|          0|    1|      0.0|           2.0|         48.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|   McCarthy|          0|    1|      0.0|           0.0|        620.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|    Palsson|          4|    0|      0.0|           0.0|         21.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|    Johnson|          2|    0|      1.0|           0.0|          4.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|     Nasser|          1|    0|      1.0|           1.0|        114.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|  Sandstrom|          2|    0|      1.0|           0.0|         75.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|    Bonnell|          0|    1|      1.0|           0.0|        171.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|Saundercock|          0|    1|      0.0|           0.0|        614.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|  Andersson|          6|    0|      0.0|           0.0|          0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|    Vestrom|          0|    1|      1.0|           0.0|        214.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|    Hewlett|          0|    1|      1.0|           0.0|        540.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|       Rice|          5|    0|      0.0|           2.0|          8.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|       S|   Williams|          0|    1|      0.0|           0.0|          9.0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|     Vander|          1|    0|      1.0|           0.0|         13.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       C| Masselmani|          0|    1|      1.0|           1.0|        158.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------+-----------+-----+---------+--------------+-------------+
only showing top 20 rows

In [44]:
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = false)
 |-- initial: string (nullable = true)
 |-- Family_Size: integer (nullable = true)
 |-- Alone: integer (nullable = false)
 |-- Sex_index: double (nullable = false)
 |-- Embarked_index: double (nullable = false)
 |-- initial_index: double (nullable = false)

In [54]:
titanic = titanic.na.fill({'Age' : 20})

In [55]:
titanic = titanic.drop("PassengerId","Name","Ticket","Cabin","Embarked","Sex","initial")

In [56]:
titanic.show()

+--------+------+----+-----+-----+-------+-----------+-----+---------+--------------+-------------+
|Survived|Pclass| Age|SibSp|Parch|   Fare|Family_Size|Alone|Sex_index|Embarked_index|initial_index|
+--------+------+----+-----+-----+-------+-----------+-----+---------+--------------+-------------+
|       0|     3|22.0|    1|    0|   7.25|          1|    0|      0.0|           0.0|         58.0|
|       1|     1|38.0|    1|    0|71.2833|          1|    0|      1.0|           1.0|        406.0|
|       1|     3|26.0|    0|    0|  7.925|          0|    1|      1.0|           0.0|        473.0|
|       1|     1|35.0|    1|    0|   53.1|          1|    0|      1.0|           0.0|         93.0|
|       0|     3|35.0|    0|    0|   8.05|          0|    1|      0.0|           0.0|         94.0|
|       0|     3|20.0|    0|    0| 8.4583|          0|    1|      0.0|           2.0|         48.0|
|       0|     1|54.0|    0|    0|51.8625|          0|    1|      0.0|           0.0|        620.0|
|       0|     3| 2.0|    3|    1| 21.075|          4|    0|      0.0|           0.0|         21.0|
|       1|     3|27.0|    0|    2|11.1333|          2|    0|      1.0|           0.0|          4.0|
|       1|     2|14.0|    1|    0|30.0708|          1|    0|      1.0|           1.0|        114.0|
|       1|     3| 4.0|    1|    1|   16.7|          2|    0|      1.0|           0.0|         75.0|
|       1|     1|58.0|    0|    0|  26.55|          0|    1|      1.0|           0.0|        171.0|
|       0|     3|20.0|    0|    0|   8.05|          0|    1|      0.0|           0.0|        614.0|
|       0|     3|39.0|    1|    5| 31.275|          6|    0|      0.0|           0.0|          0.0|
|       0|     3|14.0|    0|    0| 7.8542|          0|    1|      1.0|           0.0|        214.0|
|       1|     2|55.0|    0|    0|   16.0|          0|    1|      1.0|           0.0|        540.0|
|       0|     3| 2.0|    4|    1| 29.125|          5|    0|      0.0|           2.0|          8.0|
|       1|     2|20.0|    0|    0|   13.0|          0|    1|      0.0|           0.0|          9.0|
|       0|     3|31.0|    1|    0|   18.0|          1|    0|      1.0|           0.0|         13.0|
|       1|     3|20.0|    0|    0|  7.225|          0|    1|      1.0|           1.0|        158.0|
+--------+------+----+-----+-----+-------+-----------+-----+---------+--------------+-------------+
only showing top 20 rows

In [57]:
titanic.columns[1:]

['Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Family_Size',
 'Alone',
 'Sex_index',
 'Embarked_index',
 'initial_index']

In [58]:
from pyspark.ml.feature import VectorAssembler

In [59]:
feature = VectorAssembler(inputCols = titanic.columns[1:], outputCol = 'features')
feature_vector = feature.transform(titanic)

In [60]:
feature_vector.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Age: double (nullable = false)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Family_Size: integer (nullable = true)
 |-- Alone: integer (nullable = false)
 |-- Sex_index: double (nullable = false)
 |-- Embarked_index: double (nullable = false)
 |-- initial_index: double (nullable = false)
 |-- features: vector (nullable = true)

In [61]:
# 데이터 세트를 나누는 작업
trainData , testData = feature_vector.randomSplit([.8 , .2] , seed=100)

In [62]:
# type(trainData)
trainData

DataFrame[Survived: int, Pclass: int, Age: double, SibSp: int, Parch: int, Fare: double, Family_Size: int, Alone: int, Sex_index: double, Embarked_index: double, initial_index: double, features: vector]

- 모델링
- Spark ML(DTC , LR , RFC , GDTC , NB , SVM)

In [72]:
# LogisticRegression
# 데이터의 범주가 0 , 1  사이의 값으로 예측하는 분류 알고리즘

from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(labelCol='Survived' , featuresCol='features')
lr_model = lr.fit(trainData) #모델 생성
lr_pred = lr_model.transform(testData) #예측

In [66]:
# type ( lr_pred )
lr_pred.printSchema()
lr_pred.select('prediction' , 'Survived' , 'features').show()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Age: double (nullable = false)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Family_Size: integer (nullable = true)
 |-- Alone: integer (nullable = false)
 |-- Sex_index: double (nullable = false)
 |-- Embarked_index: double (nullable = false)
 |-- initial_index: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

+----------+--------+--------------------+
|prediction|Survived|            features|
+----------+--------+--------------------+
|       0.0|       0|(10,[0,1,6,9],[1....|
|       0.0|       0|(10,[0,1,4,6,9],[...|
|       0.0|       0|(10,[0,1,4,6,9],[...|
|       1.0|       0|[1.0,20.0,0.0,0.0...|
|       1.0|       0|(10,[0,1,4,6,9],[...|
|       1.0|       0|[1.0,20.0,0.0,0.0...|
|       1.0|       0|[1.0,22.0,0.0,0.0...|
|       1.0|       0|[1.0,27.0,0.0,2.0...|
|       0.0|       0|(10,[0,1,4,6,9],[...|
|       0.0|       0|[1.0,36.0,0.0,0.0...|
|       0.0|       0|[1.0,36.0,1.0,0.0...|
|       0.0|       0|(10,[0,1,6,9],[1....|
|       0.0|       0|[1.0,46.0,0.0,0.0...|
|       0.0|       0|(10,[0,1,4,6,9],[...|
|       0.0|       0|[1.0,50.0,1.0,0.0...|
|       0.0|       0|[1.0,54.0,0.0,1.0...|
|       0.0|       0|(10,[0,1,4,6,9],[...|
|       0.0|       0|[1.0,64.0,1.0,4.0...|
|       0.0|       0|(10,[0,1,4,6,9],[...|
|       0.0|       0|(10,[0,1,4,6,9],[...|
+----------+--------+--------------------+
only showing top 20 rows

In [68]:
# 평가
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(labelCol= 'Survived', 
                                              predictionCol= 'prediction', 
                                              metricName='accuracy')

In [73]:
acc = evaluator.evaluate(lr_pred)
print('acc : ' , acc) 
print('err : ' , 1.0 - acc)

acc :  0.8
err :  0.19999999999999996